@model PagedList.IPagedList<TeaHouse.Models.Food>
@using PagedList.Mvc;

<!@model IEnumerable<TeaHouse.Models.Food>


    @{
        ViewBag.Title = "selectorder";
    }

    <h2>1.Select your Choice</h2>
    <hr />
    <h4>Select your favorite item and press “Add to Order” next to it to place an order.</h4>
    <h4>Or press “Details” for a detailed view of the item.</h4>
    <hr />

    @using (Html.BeginForm("Index", "Choice", FormMethod.Get))
    {
        <p>
            Search Keyword: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) <input type="submit" value="Search" />
        </p>
    }
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Product", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>
                @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th>

                @Html.ActionLink("Descriptions", "Index", new { currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Add to Order", "Create", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })


                </td>
            </tr>
        }

    </table>
    <br /> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
