
@model PagedList.IPagedList<TeaHouse.Models.Choice>
@using PagedList.Mvc;

<!@model IEnumerable<TeaHouse.Models.Choice>

    @{
        ViewBag.Title = "Index";
    }

    <h2>2.Review your Order</h2>
    <hr />
    <h4>Review your pending order items and press “Remove” next to it if not wanted.</h4>
    <h4>Afterwards press "Confirm Order" to place the order</h4>
    <hr />
    <p>
        @Html.ActionLink("Confirm Order", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Product
            </th>
            <th>
                Type
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SelectedFood.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SelectedFood.FoodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SelectedFood.Price)
                </td>
                <td>

                    @Html.ActionLink("Remove", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <br /> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

